@font-face{font-family:'PT Sans Narrow', sans-serif;src:url('PT.ttf');}

*{
	margin: 0;
	padding: 0;
}
h1{
color:white;
}

html,body{
	min-width: 100%;
	min-height: 100%;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#trick-main{
	background-color:#061f3e;
	position: absolute;
	width:100%;
	height:100%;
	
}
#treat-main{
	background-color:#061f3e;
	position: absolute;
	width:100%;
	height:100%;
	
}

#street{
	position: absolute;
	background: url('images/roadandpavement.png');
	background-size:100% 100%;
	background-repeat: repeat;
	width:100%;
	height:35%;
	bottom: 0%;
	left:-100%;
	z-index:2;
}
#festLogo{
	position: absolute;
	background: url('images/festember.png');
	background-size:100% 100%;
	width:30%;
	height:22%;
	top: 1%;
	left: 1%;
	z-index:3;
}
#bg_building{
	position: absolute;
	background: url('images/bg_building.png');
	background-size:100% 100%;
	width:100%;
	height:57%;
	bottom: 28%;
	
	z-index:1;
}
}
.starsky{
	position: absolute;
	width:100%;
	height:35%;
	top:0%;
	z-index:2;
}
.starsky.treat{
	background: url('images/stars.png');
	background-size:100% 100%;
}
.starsky.trick{
	background: url('images/stars_trick.png');
	background-size:100% 100%;
}
.building.workshops.treat{
	background: url('images/workshops.png');
	background-size:100% 100%;
}
.building.workshops.trick{
	background: url('images/workshops_trick.png');
	background-size:100% 100%;
}
.building.events.treat{
	background: url('images/events.png');
	background-size:100% 100%;
}
.building.events.trick{
	background: url('images/events_trick.png');
	background-size:100% 100%;
}
.building.gallery.treat{
	background: url('images/gallery.png');
	background-size:100% 100%;
}
.building.gallery.trick{
	background: url('images/gallery_trick.png');
	background-size:100% 100%;
}
.building.fsr.treat{
	background: url('images/fsr.png');
	background-size:100% 100%;
}
.building.fsr.trick{
	background: url('images/fsr_trick.png');
	background-size:100% 100%;
}

.building.workshops{
	position: absolute;
	width: 18%;
	height: 30%;
	left: 18%;
	bottom:15%;
	z-index:3;
	cursor:pointer;

}
.building.events{
	position: absolute;
	width: 28%;
	height: 50%;
	left: 33%;
	bottom:15%;
	z-index:3;
	cursor:pointer;
}
.building.gallery{
	position: absolute;
	width: 22%;
	height: 38%;
	left: 54%;
	bottom:15%;
	z-index:3;
	cursor:pointer;
}
.building.fsr{
	position: absolute;
	width: 30%;
	height: 51%;
	left: 70%;
	bottom:15%;
	z-index:3;
	cursor:pointer;
}


.batMenuSide{
	position: absolute;
	background-color: #ff5656;
	width: 200px;
	height: 7%;
	left:-250px;
	z-index: 4;
}

#events.batMenuSide{
	top:27%;
}
#workshops.batMenuSide{
	top:35%;
}
#pronite.batMenuSide{
	top:43%;
}
#informals.batMenuSide{
	top:51%;
}
#gallery.batMenuSide{
	top:59%;
}
#sponsors.batMenuSide{
	top:67%;
}

.batMenuSide h2{
	font-family: sans-serif;
	text-align: right;
	margin-top: 10px;
	margin-right: 15px;
}

.bird{
	position: absolute;
	margin: 0px;
	padding: 0px;
	background-image: url("images/bats.png");
	background-color: transparent;
	width: 50px;
	height: 35px;
	
}


.container.desc{
	position:absolute;
	width:60%;
	height:80%;
	left:20%;
	bottom:100%;
	background-color: gray;
	z-index:3;
}

#sceneToggle{
	position: absolute;
	background: url('images/toggle.png');
	background-size:100% 100%;
	top: 3%;
	right: -20%;
	width: 20%;
	height: 10%;
	color: white;
	z-index:10;
	cursor: pointer;
}


#sponsorTab{
	position: absolute;
	background: url('images/sponsorstab.png');
	background-size:100% 100%;
	position: absolute;
	width: 10%;
	height: 5%;
	left: 43%;
	bottom:-5%;
	z-index:5;
	
}

.sponsors.container{
	position: absolute;
	top:100%;
	left:10%;
	width: 80%;
	height: 90%;
	background-color: rgba(0,0,0,0.8);
	z-index: 10;
	overflow: scroll;
	color: white;
	
}

#sponsorsFestLogo{
	position: relative;
	background: url('images/festember.png');
	background-size:100% 100%;
	top:5%;
	left:35%;
	width: 30%;
	height: 30%;
	float: left;
	background-color: rgba(0,0,0,0.8);
	z-index: 10;

}
.sponsor_c{
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
	float:left;
}
.sponsor_c img {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.sponsor_c.priority1{
	width: 100%;
}
.sponsor_c.priority2{
	width: 50%;
}
.sponsor_c.priority3{
	width: 32%;
}
.sponsor_c.priority1 img{
	width: 40%;
}
.sponsor_c.priority2 img{
	width: 60%;
}
.sponsor_c.priority3 img{
	width: 50%;
}
